.agent-chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #a94d3c;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 500px;
  height: 400px;
  width: 100%;

  .agent-chat-divider {
    border: 1px solid #a94d3c;
    width: 100%;
  }

  .agent-chat-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;

    input {
      width: 100%;
      height: 40px;
      border: 1px solid #a94d3c;
      border-radius: 5px;
      padding: 10px;
    }
  }

  .agent-chat-header {
    color: #a94d3c;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Mystery Quest", serif;
    text-align: left;
  }

  .send-button {
    background-color: #a94d3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

    .messages-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 350px;
        max-width: 350px;
        color: #2b2b2a;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 20px;
        
        &::-webkit-scrollbar {
            width: 8px;
        }
        
        &::-webkit-scrollbar-track {
            background: #faead7;
            border-radius: 4px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #a94d3c;
            border-radius: 4px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: #8a3f32;
        }
        
        .message-container-agent {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: auto;
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;

            .message-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #a94d3c;
            }

            .message-content {
            color: #2b2b2a;
            font-size: 1.2rem;
            font-weight: 400;
            text-align: left;
            }
        }

        .message-container-user {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            height: auto;
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;

            .message-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #a94d3c;
            }

            .message-content {
                color: #2b2b2a;
                font-size: 1.2rem;
                font-weight: 400;
                text-align: left;
            }
        }
    }
}