@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Shadows+Into+Light&family=Tangerine:wght@400;700&display=swap");

.fridge-container {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .fridge-search-container {
    position: relative;
    #searchFridge {
      width: 100%;
      padding: 0.5rem 4rem;
      border-radius: 1rem;
      outline: none;
      border: 1px solid saddlebrown;
      color: #642f09;
      font-family: "Shadows Into Light", serif;
    }

    .fridge-search-icon {
      position: absolute;
      font-size: 1.5rem;
      top: 20%;
      left: 1rem;
      color: saddlebrown;
    }
  }
}