@use "../../public/sass/variables";

.fridge-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    font-family: variables.$font-family-title;
    border-top: 1px solid variables.$color2-text-highlight;
    border-bottom: 1px solid variables.$color2-text-highlight;
    text-align: center;
    font-weight: bold;
    color: variables.$color2-text-highlight;
  }

  .fridge-search-container {
    position: relative;
    padding-left: 1rem;
    #searchFridge {
      width: 100%;
      padding: 0.5rem 0 0.5rem 1.7rem;
      border-radius: 1rem;
      outline: none;
      border: 1px solid variables.$color2-text-highlight;
      color: variables.$color2-text-highlight;
      font-family: variables.$font-family-body;
    }

    .fridge-search-icon {
      position: absolute;
      font-size: 1.5rem;
      top: 20%;
      left: 1.1rem;
      color: variables.$color2-text-highlight;
    }
  }
}