@use "../../public/sass/variables";

.error-container {
  background-color: variables.$background-containers;
  color: variables.$color-text-list;
  h1 {
    font-family: variables.$font-family-highlight;
    font-size: 15rem;
    color: variables.$color2-text-highlight;
  }
  .emoji {
    font-size: 15rem;
  }
  p {
    font-family: variables.$font-family-modal;
    font-size: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .h1Error {
    font-size: 5rem !important;
  }
  .emoji {
    font-size: 5rem !important;
  }
  .pError {
    font-size: 1rem !important;
  }
}
