@use "../../public/sass/variables";

.recipeBox {
  background-color: variables.$background-recipe;
  border-radius: 1rem;
  .recipeImg {
    height: 15rem;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    img {
      position: absolute;
      top: -4rem;
    }
  }
  .recipeName {
    padding: 2rem;
    h3 {
      font-family: variables.$font-family-body;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: variables.$color-text-name;
      text-shadow: -1px -1px 2px variables.$color1-text-shadow,
        2px 2px 4px variables.$color2-text-shadow;
      text-align: center;
    }
    .buttonContainer {
      border-radius: 1rem;
      display: flex;
      margin-top: 2em;
      .details,
      .icon {
        padding: 1rem 2rem;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        transition: all 0.5s ease-in-out;
      }
      .details {
        font-family: variables.$font-family-highlight;
        width: 12rem;
        text-align: center;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: variables.$background-dark-button;
        color: variables.$color2-text-shadow;
        &:hover {
          color: variables.$color-text-highlight;
          background-color: variables.$background-light-button;
        }
      }
      .icon {
        background-color: variables.$background-light-button;
        font-size: 1rem;
        border-left: 1px solid #8b5e3c;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        color: variables.$color-text-highlight;
        &:hover {
          background-color: variables.$background-dark-button;
          color: variables.$color2-text-shadow;
        }
      }
    }
  }
}
