@use "../../public/sass/variables";

.ingredients {
  padding-left: 1rem;
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
      span {
        font-family: variables.$font-family-body;
        font-size: 1.1rem;
      }
      .fridge-ingredients-trash {
        &:hover {
          color: variables.$color3-text-highlight;
        }
      }
    }
  }
  p {
    font-family: "Tangerine", serif;
    font-size: 2rem;
    margin: 2rem 0;
  }
  #paginationContainer {
    span {
      font-family: variables.$font-family-modal;
      font-size: 1vw;
      text-align: center;
    }
    .paginationBtn {
      cursor: pointer;
      border: none;
      font-family: variables.$font-family-highlight;
      text-align: center;
      border-radius: 0.3rem;
      background-color: variables.$background-containers;
      color: variables.$color2-text-highlight;
      font-size: 1vw;
      padding: 0.5rem;
      &:hover {
        background-color: variables.$backgound-button;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .ingredients {
    #paginationContainer {
      span {
        font-size: 1rem;
      }
      .paginationBtn {
        font-size: 1rem;
      }
    }
  }
}
