@use "../../public/sass/variables";

  nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$color1-text-shadow;
    color: variables.$color-text-name;
    flex-wrap: wrap;
    width: 100%;
    .logoContainer {
      display: flex;
      gap: 1rem;
      width: fit-content;
      align-items: center;
      justify-content: center;
      img {
        width: 4rem;
        height: auto;
      }
      h1 {
        font-family: variables.$font-family-title;
        font-weight: 400;
        font-size: 3rem;
        text-shadow: 1px 2px 1px variables.$color-shadow;
      }
    }
  }

@media only screen and (max-width: 375px) {
  nav {
    .logoContainer {
      h1 {
        font-size: 9vw;
      }
    }
  }
}