@use "../../public/sass/variables";

.topContainer {
  width: 50vw;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  #searchRecipes {
    width: 100%;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid variables.$color2-text-highlight;
    color: variables.$color2-text-highlight;
    font-family: variables.$font-family-body;
  }
  i {
    position: absolute;
    font-size: 1.5rem;
    top: 1.5rem;
    padding-left: 1rem;
    color: variables.$color2-text-highlight;
  }
  .filters {
    display: flex;
    gap: 5rem;

    h4 {
      font-family: "Shadows Into Light", serif;
      color: saddlebrown;
      margin-bottom: 1rem;
    }
    select {
      width: 100%;
      color: #642f09;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #642f09;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      option:hover {
        background-color: #faead7;
        color: #642f09;
      }
      option:checked {
        background-color: saddlebrown;
        color: white;
      }
    }
    .tagsSelect,
    .typesSelect,
    .cuisineSelect,
    .difficultySelect {
      position: relative;
      width: 10rem;
    }
  }
}
