.modal-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToFridgeIcon {
  transition: color 0.3s ease;
  background-color: #fff5e1;
  border-radius: 30%;

  &:hover {
    color: #a94d3c;
    background-color: #fff5e1;
  }
}
.addToFridgeBtn {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  font-family: "Mystery Quest", serif;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  background-color: #eddbc3;
  color: #2b2b2a;
  &:hover {
    color: #a94d3c;
    background-color: #fff5e1;
  }
}
