@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Shadows+Into+Light&family=Tangerine:wght@400;700&display=swap");

.landingContainer {
  position: relative;
  margin: 7rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  .description {
    width: 40%;
    h1 {
      font-family: "Shadows Into Light", serif;
      font-size: 2rem;
      color: #8b7456;
      span {
        font-size: 2.7rem;
        font-family: "Mystery Quest", serif;
        color: brown;
      }
    }
    h3 {
      text-align: end;
      font-family: "Shadows Into Light", serif;
      font-size: 1.4rem;
      color: #8b7456;
    }
    p {
      font-size: 1.5rem;
      margin-top: 2rem;
      text-align: center;
      font-family: "Shadows Into Light", serif;
    }
    button {
      margin: 2rem 0 0 15rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      background-color: #ead5c1;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
      border: 1px solid #4d2f0a;
      .button {
        text-decoration: none;
        color: #4d2f0a;
        font-family: "Mystery Quest", serif;
      }
      &:hover {
        background-color: #eaccb0;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        .button {
          color: #393737;
        }
      }
    }
  }
  .image {
    position: relative;
    perspective: 1000px;
    width: fit-content;
  }
}
