@use "../../public/sass/variables";

.landingContainer {
  position: relative;
  margin: 7.8rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  .description {
    width: 40%;
    h1 {
      font-family: variables.$font-family-body;
      font-size: 2rem;
      color: variables.$color4-text-highlight;
      span {
        font-size: 2.7rem;
        font-family: variables.$font-family-highlight;
        color: variables.$color3-text-highlight;
      }
    }
    h3 {
      text-align: end;
      font-family: variables.$font-family-body;
      font-size: 1.4rem;
      color: variables.$color4-text-highlight;
    }
    p {
      font-size: 1.5rem;
      margin-top: 2rem;
      text-align: center;
      font-family: variables.$font-family-body;
    }
    button {
      margin: 2rem 0 0 5vw;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      background-color: variables.$backgound-button;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
      border: 1px solid variables.$color-active;
      .button {
        text-decoration: none;
        color: variables.$color-active;
        font-family: variables.$font-family-highlight;
      }
      &:hover {
        background-color: #eaccb0;
        transform: scale(1.05);
        box-shadow: 0 4px 8px variables.$box-shadow;
        .button {
          color: variables.$backgound-button-hover;
        }
      }
    }
  }
  .image {
    position: relative;
    perspective: 1000px;
    width: fit-content;
  }
}

@media only screen and (max-width: 870px) {
  .landingContainer {
    margin: 2rem;
    .description {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 660px) {
  .landingContainer {
    flex-direction: column;
    gap: 0;
    .description {
      width: 100%;
      margin-top: 3rem;
    }
    .image {
      width: 20rem;
    }
  }
}
