@use "../../public/sass/variables";

.shopping-list-container {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
  margin-bottom: 5.6rem;

  h3 {
    font-family: variables.$font-family-body;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #535351;
    text-shadow: -1px -1px 2px #faead7, 2px 2px 4px #2b2b2a;
    text-align: center;
  }

  .fridge-container {
    padding: 0;
    margin: 0;
    flex: 2;
    width: 72%;
  }

  .recipe-container {
    flex: 6;
    text-align: center;
  }

  .items-container {
    flex: 3;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid saddlebrown;
    color: #642f09;
    font-family: variables.$font-family-body;
    background-color: #fff;

    .items-list-container {
      text-align: center;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      .items-list-title {
        font-family: variables.$font-family-body;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #535351;
        text-align: center;
      }
    }
  }

  .recipe-container {
    .recipe-title {
      font-family: variables.$font-family-body;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #535351;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 900px) {
  .shopping-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    .fridge-container {
      margin: 2rem 0;
      width: 100%;
      padding: 0 2rem;
    }
    .recipe-container {
      width: 100%;
      margin: 0;
      padding: 0 2rem;
      h1 {
        display: block;
        margin-bottom: 2rem;
      }
    }
    .items-container {
      padding: 0 2rem;
      width: 100%;
    }
  }
}
