<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs", {title: "notFound"}) %>
  </head>
  <body>
    <div class="error-container">
      <h1 class="display-1 fw-bold">4<span class="emoji">😞</span>4</h1>
      <p class="fs-4">Oops! The page you're looking for doesn't exist.</p>
    </div>
  </body>
</html>